@font-face {
    font-family: 'Old Town';
    src: url('../fonts/oldTown.woff');
}

/* LOBBY SETUP */

body {
    font-family: 'Old Town', Fallback, sans-serif;
    background: url('../images/background/background_fhd.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lobby-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url('../images/background/wanted_banner.png');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 97vh;
    width: 39rem;
}

.login-form,
.choose-action-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes autofill {
    to {
        color: #000;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    animation-name: autofill;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    
}

input,
button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 3px solid #000;
    text-align: center;
    font-family: 'Old Town', Fallback, sans-serif;
    font-size: 3.5rem;
}

input[type=text] {
    margin-bottom: 5rem;
}

.lobby-player {
    max-width: 20rem;
}

.lobbies-list-form ol li {
    display: flex;
    align-items: center;
}

.lobbies-list-form ol li button {
    padding-top: 0px;
    padding-bottom: 0px;
}

button {
    -webkit-appearance: none;
    border: none;
    cursor: pointer;
    padding-top: 5px;
    border-top: 3px solid rgba(0, 0, 0, 0);
    border-bottom: 3px solid rgba(0, 0, 0, 0);
    text-transform: uppercase;
}

button:hover {
    transition: border-color 0.3s linear;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
}

button:focus {
    outline: none;
}

input:focus {
    outline: none;
}

.lobbies-list-form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 19rem;
    overflow-y: scroll;
}

.lobbies-list-form::-webkit-scrollbar {
    width: 0;
}

#reload {
    border: none;
    background: url(../images/svg/refresh_icon.svg);
    height: 40px;
    width: 40px;
    transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    margin-right: 4rem;
}

#reload:hover {
    border: none;
    transform: rotate(-180deg);
    transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
}

.lobbies-list-set {
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.lobbies-list-set p,
.control-elements {
    font-size: 3rem;
    text-align: center;
}

.control-elements {
    width: 28rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.control-elements #back-from-lobbies-list {
    font-size: 2.5rem;
    margin-right: 3rem;
}

#back-from-lobby {
    font-size: 2.5rem;
    margin-right: 16rem;
}

.lobby ol {
    flex-direction: column;
    position: relative;
    left: 12rem;
    max-width: 25rem;
}

li {
    text-align: left;
}

li,
.lobbies-list-form button {
    font-size: 3rem;
}

.players-list-title {
    font-size: 3.5rem;
    margin-bottom: 0.3rem;
}

.lobby {
    text-align: center;
}

.hidden {
    display: none;
}

/* GAME TABLE SETUP */


html {
    overflow: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img {
    -webkit-filter: drop-shadow(0px 0px 3px #000);
    filter: drop-shadow(0px 0px 3px #000);
}

/* BACKGROUND SHADOWING */

.gameboard {
    width: 100vw;
    height: 100vh;
    background: hsla(149, 0%, 14%, 0.5);
}

/* BACKGROUND */

.game-panel {
    width: 100vw;
    height: 100vh;
    background-position: 0;
    background-repeat: no-repeat;
}

/* PLAYERS POSITIONING */

.players {
    display: grid;
    grid-template-columns: 300px 1fr 300px;
    grid-template-rows: auto;
    align-items: center;
}

.player:nth-child(even) {
    justify-self: end;
}

.player:nth-child(-n + 2) {
    margin-top: 1rem;
}

.players .player:nth-child(-n + 4) {
    margin-bottom: 1rem;
}

/* .player:nth-child(-n + 4) {
    margin-bottom: 3.65rem;
} */

.player {
    height: 250px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player:nth-child(1) {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}

.player:nth-child(2) {
    grid-column: 3 / 3;
    grid-row: 1 / 1;
}

.player:nth-child(3) {
    grid-column: 1 / 1;
    grid-row: 2 / 2;
}

.player:nth-child(4) {
    grid-column: 3 / 3;
    grid-row: 2 / 2;
}

.player:nth-child(5) {
    grid-column: 1 / 1;
    grid-row: 3 / 3;
}

.player:nth-child(6) {
    grid-column: 3 / 3;
    grid-row: 3 / 3;
}

/* NICKNAME SETUP */

.nickname p {
    font-family: 'Old Town';
    color: #fff;
    text-align: center;
    font-size: 2rem;
    -webkit-filter: drop-shadow(0px 0px 3px #000);
    filter: drop-shadow(0px 0px 3px #000);
}

.players .player:nth-child(1) .nickname p {
    color: rgba(0, 174, 255, 0.877);
}

.player:nth-child(2) .nickname p {
    color: rgb(255, 0, 0);
}

.player:nth-child(3) .nickname p {
    color: rgb(238, 255, 0);
}

.player:nth-child(4) .nickname p {
    color: rgb(43, 255, 0);
}

.player:nth-child(5) .nickname p {
    color: rgb(225, 0, 255);
}

.player:nth-child(6) .nickname p {
    color: rgb(0, 255, 136);
}

/* PLAYERS' PORTAITS SETUP */

.portait-wrap {
    width: 145px;
    height: 145px;
}

.portait {
    width: 141px;
    height: 141px;
    position: relative;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75);
    border: 2px solid #68abf8;
}

.portait-right {
    margin-left: 1.75rem;
}

.portait:hover {
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    width: 160px;
    height: 254px;
    z-index: 10;
    border-radius: 0;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    cursor: pointer;
}

/* ACTIVE-PLAYER HIGHLIGHT */

.player-active {
    -webkit-box-shadow: 0px 0px 8px 0px rgba(118, 232, 151, 0.75);
    -moz-box-shadow: 0px 0px 8px 0px rgba(118, 232, 151, 0.75);
    box-shadow: 0px 0px 8px 0px rgba(118, 232, 151, 0.75);
    border: 2px solid #76E897;
}

/* SHERIFF BADGE SETUP */

.badge {
    max-width: 70px;
    max-height: 70px;
    position: relative;
    bottom: 260px;
    right: 30px;
    z-index: 11;
    cursor: pointer;
}

.player:nth-child(even) .badge-wrap .badge {
    right: 0;
    left: 102px;
}

/* WEAPON SETUP */

.weapon-wrap {
    width: 52px;
    height: 52px;
}

.weapon-right {
    left: 130px;
}

.weapon {
    width: 50px;
    height: 50px;
    position: relative;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);  
    border-radius: 50%;
    border: 1px solid #68abf8;
    bottom: 35px;
    right: 10px;
    z-index: 11;
}

.player:nth-child(even) .portait-wrap .weapon-wrap .weapon {
    left: 6.5rem;
}

.weapon:hover {
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    width: 160px;
    height: 254px;
    border-radius: 0;
    border: none;
    cursor: pointer;
    z-index: 12;
}

/* BUFFS SETUP */

.buff-wrap {
    width: 29px;
    height: 29px;
}

.right {
    margin-left: 9rem;
}

.buff {
    width: 27px;
    height: 27px;
    position: relative;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);  
    border-radius: 50%;
    border: 1px solid #68abf8;
}

.buff:hover {
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    width: 160px;
    height: 254px;
    z-index: 23;
    border-radius: 0;
    border: none;
    cursor: pointer;
}

/* BUFFS CIRCLE POSITIONING */

.player:nth-child(odd) .buff-list {
    position: relative;
    bottom: 9rem;
    left: 5rem;
}

.player:nth-child(even) .buff-list {
    position: relative;
    bottom: 9rem;
    right: 5rem;
}

.player:nth-child(odd) .buff-list :nth-child(1) img,
.player:nth-child(odd) .buff-list :nth-child(5) img {
    right: 7px;
}

.buff-list :nth-child(1) img {
    bottom: 12px;
}

.player:nth-child(odd) .buff-list :nth-child(2) img {
    bottom: 8px;
    left: 12px;
}

.player:nth-child(odd) .buff-list :nth-child(3) img {
    left: 17px;
}

.player:nth-child(odd) .buff-list :nth-child(4) img {
    top: 8px;
    left: 12px;
}

.buff-list :nth-child(5) img {
    top: 12px;
}

.player:nth-child(even) .buff-list :nth-child(1) img,
.player:nth-child(even) .buff-list :nth-child(5) img {
    left: 7px;
}

.player:nth-child(even) .buff-list :nth-child(2) img {
    bottom: 8px;
    right: 12px;
}

.player:nth-child(even) .buff-list :nth-child(3) img {
    right: 17px;
}

.player:nth-child(even) .buff-list :nth-child(4) img {
    top: 8px;
    right: 12px;
}

/* HP SETUP */

.hp-bar {
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    display: flex;
    justify-content: center;
}

.hp-bar-right {
    margin-left: 2rem;
}

.hp {
    width: 24px;
    height: 30px;
    background: url("../images/misc/bullet.png") no-repeat;
    background-size: 100% 100%;
    -webkit-filter: drop-shadow(0px 0px 3px #000);
    filter: drop-shadow(0px 0px 3px #000);
}

/* CARD COUNTER SETUP */

.card-counter {
    background: url(../images/cards/full/card_blank.png);
    height: 60px;
    width: 37px;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;
    position: relative;
    bottom: 5rem;
    left: 3.5rem;
    z-index: 11;
    -webkit-filter: drop-shadow(0px 0px 3px #000);
    filter: drop-shadow(0px 0px 3px #000);
}

/* FIXATION SETUP */

.local-player-hub,
.packs-hub {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

/* LOCAL PLAYER SETUP */

.local-player {
    margin-bottom: 3.6rem;
}

.local-player-deck {
    display: grid;
    grid-template-columns: repeat(15, 40px);
    margin-bottom: 2rem;
}

.local-player-card {
    width: 160px;
    height: 254px;
    position: relative;
}

/* CARDS INDEXATION FOR REVERSED HOVERING */

.local-player-card-wrap:nth-child(1) {
    z-index: 21;
}

.local-player-card-wrap:nth-child(2) {
    z-index: 20;
}

.local-player-card-wrap:nth-child(3) {
    z-index: 19;
}

.local-player-card-wrap:nth-child(4) {
    z-index: 18;
}

.local-player-card-wrap:nth-child(5) {
    z-index: 17;
}

.local-player-card-wrap:nth-child(6) {
    z-index: 16;
}

.local-player-card-wrap:nth-child(7) {
    z-index: 15;
}

.local-player-card-wrap:nth-child(8) {
    z-index: 14;
}

.local-player-card-wrap:nth-child(9) {
    z-index: 13;
}

.local-player-card-wrap:nth-child(10) {
    z-index: 12;
}

.local-player-card-wrap:hover {
    cursor: pointer;
    z-index: 22;
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: translateY(-15px);
}

.local-player-role p,
.playfield-hub span {
    color: #b5d7ff;
    text-align: center;
    font-size: 1rem;
    -webkit-filter: drop-shadow(0px 0px 3px #000);
    filter: drop-shadow(0px 0px 3px #000);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/* CARD PACKS SETUP */

.packs-hub {
    display: flex;
    align-items: flex-start;
    text-align: center;
    margin-top: 1rem;
}

.ingame-pack,
.out-of-game-pack {
    width: 120px;
    height: 190px;
    -webkit-filter: drop-shadow(0px 0px 3px #000);
    filter: drop-shadow(0px 0px 3px #000);
    background: url(../images/cards/full/card_back.png);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
}

.ingame-pack-wrap span,
.out-of-game-pack-wrap span {
    font-size: 2rem;
    color: #fff;
}

.ingame-pack p,
.out-of-game-pack p {
    padding-top: 0.3rem;
    font-size: 2rem;
    color: #000;
}

.ingame-pack-wrap {
    margin-right: 4rem;
    cursor: pointer;
}

/* PLAYFIELD SETUP */

.playfield-hub {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    margin-top: 18rem;
    text-align: center;
}

.playfield-attacker {
    margin-right: 6rem;
}

.playfield-attacker span:nth-child(2) {
    color: #fff;
}

.thrown-card {
    max-width: 160px;
    max-height: 290px;
    margin-top: 0.5rem;
    z-index: 15;
    position: relative;
}