@font-face {
    font-family: 'Old Town';
    src: url('../fonts/oldTown.woff');
}

/* LOBBY SETUP */

body {
    font-family: 'Old Town', Fallback, sans-serif;
    background: url('../images/background/background_fhd.jpg') no-repeat center;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.lobby-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: 100%;
    background: url('../images/background/wanted_banner.png') no-repeat;
    background-size: contain;
    height: 97vh;
    width: 39rem;
}

.login-form,
.choose-action-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes autofill {
    to {
        color: #000;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    animation-name: autofill;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    
}

input,
button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 3px solid #000;
    text-align: center;
    font-family: 'Old Town', Fallback, sans-serif;
    font-size: 3.5rem;
}

input[type=text] {
    margin-bottom: 5rem;
}

.lobby-player {
    max-width: 20rem;
}

.lobbies-list-form ol li {
    display: flex;
    align-items: center;
}

.lobbies-list-form ol li button {
    padding-top: 0;
    padding-bottom: 0;
}

button {
    -webkit-appearance: none;
    border: none;
    cursor: pointer;
    padding-top: 5px;
    border-top: 3px solid rgba(0, 0, 0, 0);
    border-bottom: 3px solid rgba(0, 0, 0, 0);
    text-transform: uppercase;
}

button:hover {
    transition: border-color 0.3s linear;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
}

button:focus {
    outline: none;
}

input:focus {
    outline: none;
}

.lobbies-list-form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 19rem;
    overflow-y: scroll;
}

.lobbies-list-form::-webkit-scrollbar {
    width: 0;
}

#reload {
    border: none;
    background: url(../images/svg/refresh_icon.svg);
    height: 40px;
    width: 40px;
    transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    margin-right: 4rem;
}

#reload:hover {
    border: none;
    transform: rotate(-180deg);
    transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
}

.lobbies-list-set {
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.lobbies-list-set p,
.control-elements {
    font-size: 3rem;
    text-align: center;
}

.control-elements {
    width: 28rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.control-elements #back-from-lobbies-list {
    font-size: 2.5rem;
    margin-right: 3rem;
}

#back-from-lobby {
    font-size: 2.5rem;
    margin-right: 16rem;
}

.lobby ol {
    flex-direction: column;
    position: relative;
    left: 12rem;
    max-width: 25rem;
}

li {
    text-align: left;
}

li,
.lobbies-list-form button {
    font-size: 3rem;
}

.players-list-title {
    font-size: 3.5rem;
    margin-bottom: 0.3rem;
}

.lobby {
    text-align: center;
}

.hidden {
    display: none;
}

/* GAME TABLE SETUP */


html {
    overflow: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img {
    -webkit-filter: drop-shadow(0px 0px 3px #000);
    filter: drop-shadow(0px 0px 3px #000);
}

/* BACKGROUND SHADOWING */

.game-board {
    width: 100vw;
    height: 100vh;
    background: hsla(149, 0%, 14%, 0.5);
}

/* BACKGROUND */

.game-panel {
    width: 100vw;
    height: 100vh;
    background-position: 0;
    background-repeat: no-repeat;
}

/* PLAYERS POSITIONING */

.players {
    display: flex;
    justify-content: space-around;
}

.local-player-role p {
    text-transform: uppercase;
}

.player {
    margin-top: 1rem;
    height: 250px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 50;
}

/* NICKNAME SETUP */

.nickname p {
    font-family: 'Old Town', sans-serif;
    text-align: center;
    font-size: 2rem;
    -webkit-filter: drop-shadow(0px 0px 3px #000);
    filter: drop-shadow(0px 0px 3px #000);
}

.blue {
    color: rgb(0, 174, 255);
    text-shadow: #000 1px 1px 0, #000 -1px -1px 0,
    #000 -1px 1px 0, #000 1px -1px 0;
}

.red {
    color: rgb(255, 0, 0);
    text-shadow: #000 1px 1px 0, #000 -1px -1px 0,
    #000 -1px 1px 0, #000 1px -1px 0;
}

.yellow {
    color: rgb(238, 255, 0);
    text-shadow: #000 1px 1px 0, #000 -1px -1px 0,
    #000 -1px 1px 0, #000 1px -1px 0;
}

.green {
    color: rgb(43, 255, 0);
    text-shadow: #000 1px 1px 0, #000 -1px -1px 0,
    #000 -1px 1px 0, #000 1px -1px 0;
}

.purple {
    color: rgb(225, 0, 255);
    text-shadow: #000 1px 1px 0, #000 -1px -1px 0,
    #000 -1px 1px 0, #000 1px -1px 0;
}

.emerald {
    color: rgb(56, 255, 202);
    text-shadow: #000 1px 1px 0, #000 -1px -1px 0,
    #000 -1px 1px 0, #000 1px -1px 0;
}

.orange{
    color: rgb(255, 123, 0);
    text-shadow: #000 1px 1px 0, #000 -1px -1px 0,
    #000 -1px 1px 0, #000 1px -1px 0;
}

/* PLAYERS' PORTAITS SETUP */

.portait-wrap {
    width: 145px;
    height: 145px;
}

.portait {
    width: 141px;
    height: 141px;
    position: relative;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    border-radius: 50%;
    -webkit-box-shadow: 0 0 15px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 15px 2px rgba(0,0,0,0.75);
    box-shadow: 0 0 15px 2px rgba(0,0,0,0.75);
    border: 2px solid #68abf8;
}

.players .portait:hover {
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1);
    width: 160px;
    height: 254px;
    z-index: 10;
    border-radius: 0;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    cursor: pointer;
}

/* ACTIVE-PLAYER HIGHLIGHT */

.player-active {
    -webkit-box-shadow: 0 0 8px 0 rgba(118, 232, 151, 0.75);
    -moz-box-shadow: 0 0 8px 0 rgba(118, 232, 151, 0.75);
    box-shadow: 0 0 8px 0 rgba(118, 232, 151, 0.75);
    border: 2px solid #76E897;
}

/* SHERIFF BADGE SETUP */

.badge {
    max-width: 70px;
    max-height: 70px;
    position: relative;
    bottom: 330px;
    right: 30px;
    z-index: 11;
    cursor: pointer;
}

.local-player .badge {
    bottom: 280px;
}

/* WEAPON SETUP */

.weapon-wrap {
    width: 52px;
    height: 52px;
}

.weapon-right {
    left: 130px;
}

.weapon {
    width: 50px;
    height: 50px;
    position: relative;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);  
    border-radius: 50%;
    border: 1px solid #68abf8;
    bottom: 40px;
    right: 20px;
    z-index: 11;
}

.players .weapon:hover {
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1);
    width: 160px;
    height: 254px;
    border-radius: 0;
    border: none;
    cursor: pointer;
    z-index: 12;
}

/* BUFFS SETUP */

.buff-wrap {
    width: 29px;
    height: 29px;
}

.right {
    margin-left: 9rem;
}

.buff {
    width: 27px;
    height: 27px;
    position: relative;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);  
    border-radius: 50%;
    border: 1px solid #68abf8;
}

.players .buff:hover {
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1);
    width: 160px;
    height: 254px;
    z-index: 23;
    border-radius: 0;
    border: none;
    cursor: pointer;
}

/* BUFFS CIRCLE POSITIONING */

.player .buff-list {
    position: relative;
    bottom: 9rem;
    left: 5rem;
}

.player .buff-list {
    position: relative;
    bottom: 9rem;
    right: 5rem;
}

.player .buff-list :nth-child(1) img,
.player .buff-list :nth-child(5) img {
    right: 7px;
}

.buff-list :nth-child(1) img {
    bottom: 12px;
}

.player .buff-list :nth-child(2) img {
    bottom: 8px;
    left: 12px;
}

.player .buff-list :nth-child(3) img {
    left: 17px;
}

.player .buff-list :nth-child(4) img {
    top: 8px;
    left: 12px;
}

.buff-list :nth-child(5) img {
    top: 12px;
}


/* HP SETUP */

.hp-bar {
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    display: flex;
    justify-content: center;
}

.hp-bar-right {
    margin-left: 2rem;
}

.hp {
    width: 24px;
    height: 30px;
    background: url("../images/misc/bullet.png") no-repeat;
    background-size: 100% 100%;
    -webkit-filter: drop-shadow(0px 0px 3px #000);
    filter: drop-shadow(0px 0px 3px #000);
}


/* FIXATION SETUP */

.local-player-hub,
.packs-hub {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.packs-hub {
    align-items: center !important;
    justify-content: flex-start;
    margin-left: 5rem;
}

/* LOCAL PLAYER SETUP */

.local-player {
    margin-bottom: 3.6rem;
}

.local-player-hub .portait:hover,
.local-player-hub .weapon:hover,
.local-player-hub .buff:hover {
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1);
    border: none;
    border-radius: 0;
    transform-origin:bottom left;
    z-index: 25;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    cursor: pointer;
}

.local-player-hub .portait:hover {
    transform: scale(1.135, 1.801);
}

.local-player-hub .weapon:hover {
    transform: scale(3.2, 5.08);
}

.local-player-hub .buff:hover {
    transform: scale(5.926, 9.407);
}

#local-player-hand {
    display: grid;
    grid-template-columns: repeat(10, 85px);
    margin-bottom: 2rem;
}

.local-player-card,
.card-from-shop {
    width: 160px;
    height: 254px;
    position: relative;
}

/* CARDS INDEXATION FOR REVERSED HOVERING */

.local-player-card-wrap:nth-child(1),
.card-from-shop-wrap:nth-child(1) {
    z-index: 21;
}

.local-player-card-wrap:nth-child(2),
.card-from-shop-wrap:nth-child(2) {
    z-index: 20;
}

.local-player-card-wrap:nth-child(3),
.card-from-shop-wrap:nth-child(3) {
    z-index: 19;
}

.local-player-card-wrap:nth-child(4),
.card-from-shop-wrap:nth-child(4) {
    z-index: 18;
}

.local-player-card-wrap:nth-child(5),
.card-from-shop-wrap:nth-child(5) {
    z-index: 17;
}

.local-player-card-wrap:nth-child(6),
.card-from-shop-wrap:nth-child(6) {
    z-index: 16;
}

.local-player-card-wrap:nth-child(7),
.card-from-shop-wrap:nth-child(7) {
    z-index: 15;
}

.local-player-card-wrap:nth-child(8) {
    z-index: 14;
}

.local-player-card-wrap:nth-child(9) {
    z-index: 13;
}

.local-player-card-wrap:nth-child(10) {
    z-index: 12;
}

.local-player-card-wrap:nth-child(11) {
    z-index: 11;
}

.local-player-card-wrap:nth-child(12) {
    z-index: 10;
}

.local-player-card-wrap:hover,
.card-from-shop-wrap:hover {
    cursor: pointer;
    z-index: 22;
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: translateY(-15px);
}

.local-player-role p,
.playfield-hub span {
    color: #b5d7ff;
    text-align: center;
    font-size: 1rem;
    -webkit-filter: drop-shadow(0px 0px 3px #000);
    filter: drop-shadow(0px 0px 3px #000);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/* CARD PACKS SETUP */

.packs-hub {
    display: flex;
    align-items: flex-start;
    text-align: center;
    margin-top: 1rem;
}

.ingame-pack,
.out-of-game-pack {
    width: 120px;
    height: 210px;
    -webkit-filter: drop-shadow(0px 0px 3px #000);
    filter: drop-shadow(0px 0px 3px #000);
    background: url(../images/cards/full/card_back_counter.png) no-repeat;
    background-size: 100%;
    text-align: center;
}

.ingame-pack-wrap span,
.out-of-game-pack-wrap span {
    font-size: 2rem;
    color: #fff;
}

.ingame-pack p,
.out-of-game-pack p {
    padding-top: 0.3rem;
    font-size: 2rem;
    color: #000;
}

.ingame-pack-wrap {
    margin-right: 2rem;
    cursor: pointer;
}

/* PLAYFIELD SETUP */

.play-field-hub {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.play-field {
    position: fixed;
    height: 300px;
    width: 950px;
}

/* END TURN BUTTON SETUP */

.end-turn-button,
.take-damage-button{
    border: none;
    padding: 0;
    background: url('../images/misc/end_turn.png');
    -webkit-background-size: 100%;
    background-size: 100%;
    width: 150px;
    height: 150px;
    transition: all 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    position: relative;
}

.end-turn-button:hover,
.take-damage-button:hover {
    border: none;
    cursor: pointer;
    transition: all 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: scale(1.05);
}

.end-turn-button:active,
.take-damage-button:active {
    transform: scale(0.95);
}

/* CARD COUNTER SETUP */

.card-counter {
    background: url('../images/cards/full/card_blank.png') no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;
    position: relative;
    bottom: 9.5rem;
    right: 1.8rem;
    z-index: 11;
    -webkit-filter: drop-shadow(0px 0px 3px #000);
    filter: drop-shadow(0px 0px 3px #000);
    height: 60px;
    width: 37px;
    background-size: contain;
}

/* ACTION INTERFACE SETUP */

#action-interface,
#action-aftermath {
    display: flex;
    align-items: center;
}

#action-interface p {
    font-size: 5rem;
    color: #fff;
    margin: 0 1.5rem;
}

#thrown-card,
.card-aftermath {
    max-width: 160px;
    max-height: 290px;
    z-index: 100;
}

#action-aftermath {
    display: grid;
    grid-template-columns: repeat(8, 90px);
    z-index: 150;
}

/* RANGE TRACKER SETUP */

.range-tracker {
    height: 50px;
    width: 80px;
    display: flex;
    color: #000;
    background: url("../images/misc/range_tracker.png") no-repeat;
    background-size: contain;
    font-size: 2rem;
    position: relative;
    bottom: 8rem;
    z-index: 10;
    left: 2rem;
    -webkit-filter: drop-shadow(0px 0px 3px #000);
    filter: drop-shadow(0px 0px 3px #000);
}

.attack-range,
.defense-range {
    margin-top: 11px;
}

.attack-range {
    margin-left: 45px;
}

.defense-range {
    margin-left: 7px;
}

/* PLAYER CHOOSER SETUP */

#player_chooser {
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 49;
    opacity: 0.8;
    font-size: 3rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* SPEECH CLOUD SETUP */

.speech-cloud {
    position: relative;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.90);
    color: #000;
    text-align: justify;
    font-size: 2rem;
    padding: 0.5rem;
    z-index: 51;
    max-width: 25rem;
}

.players .player:nth-child(-n + 3) .speech-cloud {
    bottom: 3.5rem;
    left: 9rem;
}

.players .player:nth-child(n + 4) .speech-cloud {
    bottom: 3.5rem;
    right: 9rem;
}

.local-player .speech-cloud {
    top: -10rem;
    right: 15rem;
}

    /* NOTIFY JS SETUP */

.notifyjs-corner {
    font-size: 1.5rem;
}